.blog-card-container {
    background: rgb(251, 255, 250);
    border-style: solid;
    border-width: small;
    border-radius: 12px;
    border-color: rgb(95, 95, 95);
    margin: 20px;
}

.blog-card-container {
    width: 55%;
}

hr.solid {
    border-top: 1px solid #538593;
    margin: 0px;
}

.blog-card-header {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.blog-card-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.blog-card-header {
    height: 48px;
}

.blog-card-snippet {
    padding: 12px;
}

.blog-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-card-views-container {
    width: 100%;
    padding: 12px;
}

.blog-card-views-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-card-likes-container {
    width: 100%;
    padding: 12px;
}

.blog-card-likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-card-comments-container {
    width: 100%;
    padding: 12px;
}

.blog-card-comments-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-card-footer-icon {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}

.blog-card-header-avatar {
    margin-inline-end: 20px;
    height: 100%;
    width: 52px;
    border-style: solid;
    border-width: small;
    border-color: gray;
    border-radius: 8px;
}

.blog-card-header-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.blog-card-title {
    font-size: 22px;
    font-weight: bold;
    color: rgb(22, 22, 22);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-card-author {
    font-size: 18px;
    font-weight: bold;
    color: rgb(53, 52, 52);
}

.blog-card-snippet {
    font-size: 18px;
    font-weight: normal;
    color: rgb(22, 22, 22);
}